<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ddsMetamodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ddsMetamodel.presentation.DdsMetamodelModelWizardID"
            name="%_UI_DdsMetamodelModelWizard_label"
            class="ddsMetamodel.presentation.DdsMetamodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DdsMetamodelModelFile.gif">
         <description>%_UI_DdsMetamodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ddsMetamodel -->
      <editor
            id="ddsMetamodel.presentation.DdsMetamodelEditorID"
            name="%_UI_DdsMetamodelEditor_label"
            icon="icons/full/obj16/DdsMetamodelModelFile.gif"
            extensions="ddsmetamodel"
            class="ddsMetamodel.presentation.DdsMetamodelEditor"
            contributorClass="ddsMetamodel.presentation.DdsMetamodelActionBarContributor">
      </editor>
   </extension>

</plugin>
